/*Bagian yang Menackup keseluruhan style dari HTML*/
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&display=swap");
body {
  font-family: Roboto, Arial;
  background-color: #DECDBB;
  color: #6D5B47;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  
}