/*Bagian header dari website*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border-bottom: 1px solid hsl(249, 20%, 11%);
  top: 0;
  left: 0;
  right: 0;
  height: 67px;
  background-color: hsl(249, 20%, 11%);
  z-index: 100;
}

.logo-image {
  border-radius: 100px;
  width: 51px;
  height: 51px;
  margin-left: 34px;
  border: 1.5px solid white;
}

nav {
  width: 100%;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
}

nav ul {
  display: flex;
  gap: 1.25rem;
  list-style: none;
}

.link {
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  font-size: 18px;
  font-weight: 600;
  color: #fefefe;
  position: relative;
  transition: color 0.25s;
}
.link:hover {
  color: hsl(249, 20%, 11%);
}

.link::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #fefefe;
  scale: 1 0;
  z-index: -1;
  transition: 0.45s;
}
.link:hover::after {
  scale: 1 1;
}