/*Bagian header dari website*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  border-bottom: 1px solid black;
  top: 0;
  left: 0;
  right: 0;
  height: 67px;
}

.logo-image {
  border-radius: 100px;
  width: 51px;
  height: 51px;
  margin-left: 34px;
}

.button1,
.button2,
.button3,
.button4 {
  border: 1px solid black;
  background-color: white;
}

.button1 {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 8px 38px 8px 38px;
}

.button2 {
  margin-left: -4px;
  border-left: none;
  padding: 8px 23px 8px 23px;
}

.button3 {
  margin-left: -4px;
  border-left: none;
  padding: 8px 26px 8px 26px;
}
.button4 {
  margin-right: 87px;
  margin-left: -5px;
  border-left: none;
  padding: 8px 20px 8px 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}