.head {
  margin-top: 109px;
  margin-left: 99px;
  font-size: 26px;
}

.sub-head {
  margin-left: 99px;
  font-size: 14px;
  margin-top: 9px;
}

.content-image {
  width: 1333px;
  height: 586px;
  margin-top: 40px;
}