
.head {
  margin-top: 109px;
  margin-left: 99px;
  font-size: 26px;
}

.sub-head {
  margin-left: 99px;
  font-size: 14px;
  margin-top: 9px;
}

.content-image {
  margin-top: 40px;
  position: relative;
  top: 20px;
  z-index: 0;
  width: 1341px;
}

.sambutan {
  position: absolute;
  top: 0;
  font-family: Inter, Roboto, Arial;
  color: #6D5B47;
}

#home {
  padding-bottom: 0;
  margin-bottom: 0;
}

