.head {
  font-size: 26px;
  position: absolute;
  top: 0;
}

.sub-head {
  font-size: 14px;
  margin-top: 9px;
  position: absolute;
  top: 120px;
}

.content-image {
  width: 100%;
  margin-top: 40px;
  position: relative;
}