#message-us {
  padding-top: 20px;
  padding-bottom: 60px;
}

.messageus-header {
  margin-top: 20px;
}

.data-konten {
  display: flex;
  justify-content: space-between;
}

.formulir {
  margin-right: 0;
}

.radio {
  margin-right: 0px;
}

#nama {
  border-radius: 5px;
  border: 1px solid gray;
}

#tanggal-lahir {
  border-radius: 5px;
  border: 1px solid gray;
}

.LL,
.PP {
  margin-bottom: 0;
}

#pesan {
  border-radius: 3px;
  border: 1px solid gray;
}


.submit:hover {
  color: hsl(214, 20%, 85%);
  background-color: black;
}

.submit {
  font-weight: bold;
  letter-spacing: 1px;
  background-color: hsl(214, 20%, 85%);
  border: 2px solid black;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.submit::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #111827;
  border-radius: inherit;
  translate: 6px 6px;
  transition: 0.25s;
  z-index: -1;
}

.submit:hover::after {
  translate: 0;
}

#kelamin {
  accent-color: blue;
}

#kelamin1 {
  accent-color: red;
}

.keterangan-diri {
  border: 1px solid rgb(0, 0, 0);
  background-color: lightblue;
  border-radius: 5px;
  color: black;
}

.keterangan-diri span {
  font-weight: bold;
}

#hasil-nama,
#hasil-tanggal,
#hasil-kelamin,
#hasil-pesan {
  font-weight: 500;
}