/*Style dari bagian portofolio*/

.portofolio-color {
  padding-top:1px;
  padding-bottom: 40px;
  text-align: center;
  margin-bottom: 0;
} /*Mencakup keseluruhan style dari portofolio*/

.portofolio-header {
  color: black;
  margin-top: 35px;
  font-size: 18px;
  margin-bottom: 0;
} /*Bagian style dari text "my portofolio"*/

.portofolio-exercise {
  margin-top: 5px;
  margin-bottom: 0;
} /*Bagian style dari text "Practice website"*/

.description {
  color: rgb(114, 114, 114);
  margin-top: 0;
  margin-top: 5px;
} /*Bagian style dari text paling kecil di header portofolio*/

#portofolio header p u a {
  color: rgb(54, 54, 54);
} /*Mengubah color text "HTML" dan "CSS" di bagian header portofolio*/

.previous {
  margin-top: 10px;
} /*Mengatur margin dari tombol previous */
