/*Mengatur tampilan di lebar device kurang dari 600px*/

@media only screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
    padding-bottom:  80px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  } /*Menyesuaikan tata letak header*/

  .navigation {
    flex-direction: column;
    align-items: center;
  } /*Menysuaikan tata letak tombol di navigasi*/

  .button2 {
    margin-top: 5px;
    margin-left: -6px;
    margin-bottom: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .button3 {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .button4 {
    margin-left: -5px;
  }

  .content-image {
    margin-top: 140px;
    margin-bottom: -12px;
  } /*Menyesuaikan tata letak background yang berupa gambar di bagian home*/

  .head {
    top: 250px;
    font-size: 10px;
    width: 150px;
    left: 20px;
  } /*Menyesuaikan tata letak header di bagian home*/

  .sub-head {
    font-size: 10px;
  }

  .about-header {
    margin-left: 3px;
  } /*Menyesuaikan tata letak header di bagian about me*/

  .about-container {
    line-height: 25px;
    padding: 20px;
  } /*Menyesuaikan ukuran container yang mencakup konten about me*/

  .description {
    font-size: 13px;
  } /*Menyesuaikan font di sedikit penjelasan di bagian atas portofolio*/

  .portofolio-image {
    flex-direction: column;
    display: flex;
    align-items: center;
  } /*Menyesuaikan tata letak gambar */

  .portofolio1 {
    width: 258px;
    margin-top: 25px;
  } /*Menyesuaikan ukuran gambar di bagian portofolio*/

  .previous {
    padding: 6px 12px 6px 12px;
    font-size: 14px;
    margin-left: -5px;
    background-color: hsl(249, 20%, 11%);
    border: 1px solid hsl(249, 20%, 11%);
    border-radius: 5px;
    color: white;
    transition: all 0.35s;
  } 

  .previous:hover {
    background-color: rgba(0, 0, 0, 0);
    color: hsl(249, 20%, 11%);
  }

  .next {
    padding: 6px 20px 6px 20px;
    font-size: 15px;background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.35s;
  }

  .next:hover {
    background-color: hsl(249, 20%, 11%);
    color: white;
  }

  .data-konten {
    flex-direction: column;
    align-items: start;
  }

  .data-nama,
  .data-tanggal,
  .data-gender,
  .data-pesan {
    display: flex;
    flex-direction: column;
  }

  .messageus-header {
    margin-left: 3px;
    margin-bottom: 15px;
  }

  .formulir {
    margin-left: 0px;
  }

  .data-diri {
    font-size: 14px;
  }

  .label-nama,
  .label-tanggal,
  .label-pesan {
    margin-bottom: 5px;
  }

  .data-nama {
    margin-bottom: -20px;
  }

  #nama {
    padding: 8px 66px 8px 5px;
  }

  .data-tanggal {
    margin-bottom: -20px;
  }

  #tanggal-lahir {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
  }

  .data-gender {
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
  }

  #kelamin {
    position: absolute;
    bottom: 10px;
    left: 0;
  }

  #kelamin1 {
    position: absolute;
    bottom: -13px;
    left: 0;
  }

  .LL {
    position: absolute;
    bottom: 8px;
    left: 25px;
  }

  .PP {
    position: absolute;
    bottom: -15px;
    left: 25px;
  }

  #pesan {
    padding: 6px 0px 60px 8px;
  }

  .submit {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 16px;
    padding: 5px 89px 5px 89px;
  }

  .keterangan-diri {
    font-size: 14px;
    margin-right: 0;
    padding: 20px 10px 45px 10px;
  }

  .keterangan-diri div {
    line-height: 25px;
  }
}
