@media only screen and (min-width: 768px) {
  .header-container {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
  }

  .head {
    margin-top: 90px;
  }

  .logo-image {
    margin-left: 24px;
  }

  .navigation {
    margin-right: 25px;
  }

  .button1 {
    padding: 8px 35px;
  }

  .button2 {
    padding: 8px 23px;
  }

  .button3 {
    padding: 8px 26px;
  }

  .button4 {
    padding: 8px 20px;
  }

  .head,
  .sub-head {
    margin-left: 40px;
  }

  .profile-header {
    margin-left: 40px;
  }

  .profile-image {
    flex-direction: row;
  }

  .description {
    font-size: 14px;
  }

  .portofolio-image {
    flex-direction: column;
  }

  .youtube-copy,
  .discord-sidebar {
    width: 500px;
    margin-top: 35px;
  }

  .youtube-copy-description,
  .discord-sidebar-copy-description {
    font-size: 14px;
  }

  .data-konten {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .data-nama,
  .data-tanggal,
  .data-gender,
  .data-pesan {
    display: flex;
    flex-direction: column;
  }

  .messageus-header {
    margin-left: 40px;
    margin-bottom: 15px;
  }

  .formulir {
    margin-left: 5px;
  }

  .data-diri {
    font-size: 14px;
  }

  .label-nama,
  .label-tanggal,
  .label-pesan {
    margin-bottom: 5px;
  }

  .data-nama {
    margin-bottom: -20px;
  }

  #nama {
    padding: 8px 140px 8px 5px;
  }

  .data-tanggal {
    margin-bottom: -20px;
  }

  #tanggal-lahir {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
  }

  .data-gender {
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
  }

  #pesan {
    padding: 6px 0px 60px 8px;
  }

  .submit {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 16px;
    padding: 5px 89px 5px 89px;
  }

  .keterangan-diri {
    font-size: 14px;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  .keterangan-diri div {
    line-height: 25px;
  }
}