/*Mengatur tampilan di lebar device lebih dari 768px*/

@media only screen and (min-width: 768px) {
  .header-container {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
  }

  .head {
    top: 220px;
    left: -13px;
    font-size: 18px;
  }

  .sub-head {
    font-size: 13px;
  }

  .logo-image {
    margin-left: 24px;
  }

  .navigation {
    margin-right: 25px;
  }

  .button1 {
    padding: 8px 35px;
  }

  .button2 {
    padding: 8px 23px;
  }

  .button3 {
    padding: 8px 26px;
  }

  .button4 {
    padding: 8px 20px;
  }

  .head,
  .sub-head {
    margin-left: 40px;
  }

  .about-header {
    margin-left: 40px;
  }

  .about-container {
    line-height: 25px;
    padding: 20px;
  }

  .portofolio-image {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .portofolio1 {
    width: 730px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .previous {
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    background-color: hsl(249, 20%, 11%);
    border: 1px solid hsl(249, 20%, 11%);
    border-radius: 5px;
    color: white;
    transition: all 0.35s;
  }

  .previous:hover {
    background-color: rgba(0, 0, 0, 0);
    color: hsl(249, 20%, 11%);
  }

  .next {
    padding: 10px 45px 10px 45px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.35s;
  }

  .next:hover {
    background-color: hsl(249, 20%, 11%);
    color: white;
  }

  .data-konten {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .data-nama,
  .data-tanggal,
  .data-gender,
  .data-pesan {
    display: flex;
    flex-direction: column;
  }

  .messageus-header {
    margin-left: 40px;
    margin-bottom: 15px;
  }

  .formulir {
    margin-left: 5px;
  }

  .data-diri {
    font-size: 14px;
  }

  .label-nama,
  .label-tanggal,
  .label-pesan {
    margin-bottom: 5px;
  }

  .data-nama {
    margin-bottom: -20px;
  }

  #nama {
    padding: 8px 140px 8px 5px;
  }

  .data-tanggal {
    margin-bottom: -20px;
  }

  #tanggal-lahir {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
  }

  .data-gender {
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
  }

  #pesan {
    padding: 6px 0px 60px 8px;
  }

  .submit {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 16px;
    padding: 5px 89px 5px 89px;
  }

  .keterangan-diri {
    font-size: 14px;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  .keterangan-diri div {
    line-height: 25px;
  }
}