@media only screen and (min-width: 992px) {
  .header-container {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
  }

  .head {
    top: 270px;
    left: -13px;
    font-size: 22px;
  }

  .logo-image {
    margin-left: 34px;
  }  

  .button1 {
    padding: 8px 35px;
  }

  .button2 {
    padding: 8px 23px;
  }

  .button3 {
    padding: 8px 26px;
  }

  .button4 {
    padding: 8px 20px;
    margin-right: 20px;
  }

  .head,
  .sub-head {
    margin-left: 70px;
  }

  .about-header {
    margin-left: 50px;
  }

  .about-container {
    line-height: 25px;
    padding: 20px;
  }

  .description {
    font-size: 14px;
  }

  .portofolio-image {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .portofolio1 {
    width: 940px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .previous {
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    background-color: hsl(249, 20%, 11%);
    border: 1px solid hsl(249, 20%, 11%);
    border-radius: 5px;
    color: white;
    transition: all 0.35s;
  }

  .previous:hover {
    background-color: rgba(0, 0, 0, 0);
    color: hsl(249, 20%, 11%);
  }

  .next {
    padding: 10px 45px 10px 45px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.35s;
    margin-left: 10px;
  }

  .next:hover {
    background-color: hsl(249, 20%, 11%);
    color: white;
  }


  .data-konten {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .messageus-header {
    margin-left: 50px;
    margin-bottom: 15px;
  }

  .data-nama,
  .data-tanggal,
  .data-gender,
  .data-pesan {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .formulir {
    margin-left: 20px;
  }

  .data-diri {
    font-size: 15px;
  }

  .titik-satu {
    margin-left: 54px;
    margin-right: 3px;
  }

  .titik-dua {
    margin-left: 3px;
    margin-right: 3px;
  }

  .titik-empat {
    margin-left: 50px;
    margin-right: 3px;
  }

  .data-nama {
    margin-bottom: 6px;
  }

  .data-tanggal {
    margin-bottom: 1px;
  }

  #nama {
    padding: 8px 180px 8px 8px;
  }

  #tanggal-lahir {
    width: 355px;
    padding-top: 8px;
    padding-left: 3px;
    padding-bottom: 8px;
  }

  .data-gender {
    margin-top: 5px;
    margin-bottom: 7px;
  }

  #kelamin,
  #kelamin1 {
    display: flex;
    align-items: center;
  }

  #kelamin {
    position: relative;
    margin-top: 20px;
  }

  #kelamin1 {
    position: relative;
    margin-left: 40px;
    margin-top: -24px;
  }

  .LL {
    position: relative;
    margin-top: 20px;
    margin-left: -20px;
  }

  .PP {
    position: relative;
    margin-top: -24px;
    margin-left: -20px;
  }

  .label-pesan {
    margin-top: -75px;
  }

  #pesan {
    padding-top: 6px;
    padding-bottom: 80px;
    padding-left: 8px;
    width: 349px;
  }

  .submit {
    margin-bottom: 30px;
    margin-top: 15px;
    font-size: 16px;
    padding: 12px 193px 12px 210px;
  }

  .keterangan-diri {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 60px;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-right: 90px;
  }

  .keterangan-diri div {
    line-height: 30px;
  }
}